@border: 2px inset silver;
@color: white;
@background-light: rgba(0, 0, 0, 0.7);
@background-blue: rgba(50, 152, 220, 0.6);



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    text-align: center;
    list-style: none;
    margin-bottom: .5em;
    width: 220px;
    color: @color;
    text-transform: uppercase;
    background: @background-light;
    border: @border;
}

.card h1 {
    color: @color;
    text-decoration: underline;
}

.card img {
    width: 80%;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
    background: @background-blue;
}